@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
     <header class="header">
            <div class="image-wrapper">
                <img src="images/home1.jpeg">
            </div>
            <div class="banner">
                <h1>Bus Registration System</h1>
                <p>Your best consulting partner globally.</p>
                <a  asp-area="" asp-controller="buses" asp-action="ShowSearchForm">Search</a>
            </div>
        </header>
    </div>
